### KNN

In [2]:
-distance based algorithm 
- value of k (number of neighbours)
 -if k =5 ,it selects top 5 minimum distance  value ra jasko dherei chha tehi predict garchhaa

### Data scaling
### Label Encoding

In [ ]:
KNN vitraa data scaling parchhaa

### Label Encoding

In [ ]:
LABEL ENCODING
- sklearn bata pani garnna sakenchha label encoding
-

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder # yeslee encoding gardenchhaa
import seaborn as sns

In [12]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
yesmma species ma label encoding lagauna jaruri
chha kinabhaney aru mata already numeric mai chha data

In [6]:
#use gareko fxn ko naam : .fit_transfromer()
encoder = LabelEncoder()
df['Label']= encoder.fit_transform(df.species)

aagdi ko df['Label'] le gardaa tala table ma label bhanney naya column banaidenchha

In [7]:
df

     sepal_length  sepal_width  petal_length  petal_width    species  Label
0             5.1          3.5           1.4          0.2     setosa      0
1             4.9          3.0           1.4          0.2     setosa      0
2             4.7          3.2           1.3          0.2     setosa      0
3             4.6          3.1           1.5          0.2     setosa      0
4             5.0          3.6           1.4          0.2     setosa      0
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica      2
146           6.3          2.5           5.0          1.9  virginica      2
147           6.5          3.0           5.2          2.0  virginica      2
148           6.2          3.4           5.4          2.3  virginica      2
149           5.9          3.0           5.1          1.8  virginica      2

[150 rows x 6 columns]

In [8]:
encoder.classes_ #encoder ko classes denchha

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [9]:
df.Label.unique()

array([0, 1, 2])

In [ ]:
yo bhaneko setosa => 0
          Versicolor=>1
         virginica => 2
assign bhayo

In [ ]:
Label encoder ra map function ma k difference?
-> Alphabetical order aanusar assign gardenchha 
ie: 'setosa', 'versicolor', 'virginica' , yo 3 otaa lai alphabetically order
garepachhi matraa balla label assign gardenchha.

### Data Scaling

In [ ]:
Data Scaling

-> scaling bhaneko k ho vandaa , hami snagaa vako column of variable ko
data ko range yeutei chhaina chhutaa chhutei chha bhaney we should use data scaling

-> suppose hami sangaa 2 ottaa columns cha ie; 
     1) AGE (range : 21-80)
     2) Insulin (Insulin : 0-450)
yo 2 ottaa bataa hami lai diabetes predict garnu chha,

-> yeni haru range nai farak farak chha
-> suppose we have 1 data: Age = 40, insulin = 300
   suppose we have another  data: Age = 42, insulin = 100 chha
  now KNN ley  ta diatance nekalertaa garchhaa,
     distance = root over (40-42)^2 +(300-100)^2
              =root over 2^2 + (-200)^2
yeutaa ma 2 ko square 4
arko ma 200 ko square gardaa 2000000

-> yesto value aauda high value aako ley chhai sano value lai dominant garchha
-> diatance based ko calculation chaa bahney yeni ahru lai range ma lyaunu parchha
ani ballaa distance formlulaa lagaune ; ie: same rangee ma lyaunee 
this process is called data scaling .

### Data scaling
-> data set haru lai commom range ko banaune.

Data scaling techniques

1) Min _ Max Scaling (Normalization)
   -> values lai convert gareraa 0 to 1 ko bich ma aauchhaa 
   -> formula : (x-min)/(max-min)
   
3) Standardization (Z - score Normalization)
   -> mean = 0 and std = 1

   -> formula : x -meu / sigma

   ie: z = score - mean / SD(standard deviation)

   -> normally bahnney vane -1 to 1 ko range ma aauchha.

In [ ]:
#Data scaling

1.MinMax Scaling
   xscaled =(x - xmin) / (xmax -xmin) : range(0-1)
-> yeslai aru range mani convert garna parnaa sakchha ie jasto hamalai 2-10 ko range ma chaiyo bahney
    fromula :xnew_min+((x-xmin)/(xmax-xmin)) * (xnew_max-xnew_min)
        here xnew min = 2
             xnew max =10

2. Z - score normalization
  scaled = x -min/std

In [14]:
data = pd.read_csv('Diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
here we are doing : glucose ra Age bata diabetes predict gardei chham using KNN

In [ ]:
here  glucose herne bhane range 0 to 199 
      age  ko range: 21 to 81

In [ ]:
so yeaha scaling garnu  parchhaa yeutei range ma lyaunaa ko lagi

In [17]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [23]:
#if standard scaler lagaune bhako vaye
kunei yeutaa column lai leraa tyo whole column ma scaling garnaa lako 
blood pressure bhanney column leko

scaler = StandardScaler()
data['BloodPressure']=scaler.fit_transform(data[['BloodPressure']])

In [24]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,0.149641,35,0,33.6,0.627,50,1
1,1,85,-0.160546,29,0,26.6,0.351,31,0
2,8,183,-0.263941,0,0,23.3,0.672,32,1
3,1,89,-0.160546,23,94,28.1,0.167,21,0
4,0,137,-1.504687,35,168,43.1,2.288,33,1

In [ ]:
yehhaaa standard scaler ma 
mean = 0
standard deviation = 1
+ve , -ve both hunchhaa values

In [25]:
data.describe(
    
)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,7.680000e+02,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,1.503427e-17,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,1.000652e+00,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,-3.572597e+00,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,-3.673367e-01,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,1.496408e-01,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,5.632228e-01,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,2.734528e+00,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
#yesari purei column ma nai scaling grnaa sakenchha
#

In [26]:
df = pd.read_csv('Diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [29]:
minmax = MinMaxScaler()
df['BloodPressure'] = minmax.fit_transform(df[['BloodPressure']])

In [30]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,0.590164,35,0,33.6,0.627,50,1
1,1,85,0.540984,29,0,26.6,0.351,31,0
2,8,183,0.524590,0,0,23.3,0.672,32,1
3,1,89,0.540984,23,94,28.1,0.167,21,0
4,0,137,0.327869,35,168,43.1,2.288,33,1

In [ ]:
yehaa feri blood pressure ko value change vayo.

In [31]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,0.566438,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,0.158654,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,0.508197,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,0.590164,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,0.655738,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,1.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
blood pressure ko describe gareara herdaa min => 0 , max => 1 aaunu parchhaa

In [ ]:
again yehi dataa read garnee but range different diyeraa hernee

In [32]:
df = pd.read_csv('Diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [35]:
minmax = MinMaxScaler(feature_range=(2,5))
#feature_range deyeraa chaai parameter pass garne ie; different range dene
df['BloodPressure'] = minmax.fit_transform(df[['BloodPressure']])

In [36]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,3.699315,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,0.475962,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,3.524590,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,3.770492,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,3.967213,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,5.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
now yehaa bloodpressure min 2 dhekhi max 5 sammaa dekenchha
ie: range change vayo

In [37]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,3.770492,35,0,33.6,0.627,50,1
1,1,85,3.622951,29,0,26.6,0.351,31,0
2,8,183,3.573770,0,0,23.3,0.672,32,1
3,1,89,3.622951,23,94,28.1,0.167,21,0
4,0,137,2.983607,35,168,43.1,2.288,33,1

In [33]:
help(MinMaxScaler)

Help on class MinMaxScaler in module sklearn.preprocessing._data:

class MinMaxScaler(sklearn.base.OneToOneFeatureMixin, sklearn.base.TransformerMixin, sklearn.base.BaseEstimator)
 |  MinMaxScaler(feature_range=(0, 1), *, copy=True, clip=False)
 |
 |  Transform features by scaling each feature to a given range.
 |
 |  This estimator scales and translates each feature individually such
 |  that it is in the given range on the training set, e.g. between
 |  zero and one.
 |
 |  The transformation is given by::
 |
 |      X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
 |      X_scaled = X_std * (max - min) + min
 |
 |  where min, max = feature_range.
 |
 |  This transformation is often used as an alternative to zero mean,
 |  unit variance scaling.
 |
 |  `MinMaxScaler` doesn't reduce the effect of outliers, but it linearly
 |  scales them down into a fixed range, where the largest occurring data point
 |  corresponds to the maximum value and the smallest one corresponds to the
 |  minimum value. For an example visualization, refer to :ref:`Compare
 |  MinMaxScaler with other scalers <plot_all_scaling_minmax_scaler_section>`.
 |
 |  Read more in the :ref:`User Guide <preprocessing_scaler>`.
 |
 |  Parameters
 |  ----------
 |  feature_range : tuple (min, max), default=(0, 1)
 |      Desired range of transformed data.
 |
 |  copy : bool, default=True
 |      Set to False to perform inplace row normalization and avoid a
 |      copy (if the input is already a numpy array).
 |
 |  clip : bool, default=False
 |      Set to True to clip transformed values of held-out data to
 |      provided `feature range`.
 |
 |      .. versionadded:: 0.24
 |
 |  Attributes
 |  ----------
 |  min_ : ndarray of shape (n_features,)
 |      Per feature adjustment for minimum. Equivalent to
 |      ``min - X.min(axis=0) * self.scale_``
 |
 |  scale_ : ndarray of shape (n_features,)
 |      Per feature relative scaling of the data. Equivalent to
 |      ``(max - min) / (X.max(axis=0) - X.min(axis=0))``
 |
 |      .. versionadded:: 0.17
 |         *scale_* attribute.
 |
 |  data_min_ : ndarray of shape (n_features,)
 |      Per feature minimum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_min_*
 |
 |  data_max_ : ndarray of shape (n_features,)
 |      Per feature maximum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_max_*
 |
 |  data_range_ : ndarray of shape (n_features,)
 |      Per feature range ``(data_max_ - data_min_)`` seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_range_*
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  n_samples_seen_ : int
 |      The number of samples processed by the estimator.
 |      It will be reset on new calls to fit, but increments across
 |      ``partial_fit`` calls.
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  See Also
 |  --------
 |  minmax_scale : Equivalent function without the estimator API.
 |
 |  Notes
 |  -----
 |  NaNs are treated as missing values: disregarded in fit, and maintained in
 |  transform.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.preprocessing import MinMaxScaler
 |  >>> data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
 |  >>> scaler = MinMaxScaler()
 |  >>> print(scaler.fit(data))
 |  MinMaxScaler()
 |  >>> print(scaler.data_max_)
 |  [ 1. 18.]
 |  >>> print(scaler.transform(data))
 |  [[0.   0.  ]
 |   [0.25 0.25]
 |   [0.5  0.5 ]
 |   [1.   1.  ]]
 |  >>> print(scaler.transform([[2, 2]]))
 |  [[1.5 0. ]]
 |
 |  Method resolution order:
 |      MinMaxScaler
 |      sklearn.base.OneToOneFeatureMixin
 |      sklearn.base.TransformerMixin
 |      sklearn.utils._set_output._SetOutputMixin
 |      sklearn.base.BaseEstimator
 |      sklearn.utils._estimator_html_repr._HTMLDocumentationLinkMixin
 |      sklearn.utils._metadata_requests._MetadataRequester
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, feature_range=(0, 1), *, copy=True, clip=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __sklearn_tags__(self)
 |
 |  fit(self, X, y=None)
 |      Compute the minimum and maximum to be used for later scaling.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the per-feature minimum and maximum
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  inverse_transform(self, X)
 |      Undo the scaling of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed. It cannot be sparse.
 |
 |      Returns
 |      -------
 |      Xt : ndarray of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  partial_fit(self, X, y=None)
 |      Online computation of min and max on X for later scaling.
 |
 |      All of X is processed as a single batch. This is intended for cases
 |      when :meth:`fit` is not feasible due to very large number of
 |      `n_samples` or because X is read from a continuous stream.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  transform(self, X)
 |      Scale features of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed.
 |
 |      Returns
 |      -------
 |      Xt : ndarray of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then the following input feature names are generated:
 |            `["x0", "x1", ..., "x(n_features_in_ - 1)"]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Same as input features.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.OneToOneFeatureMixin:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  set_output(self, *, transform=None)
 |      Set output container.
 |
 |      See :ref:`sphx_glr_auto_examples_miscellaneous_plot_set_output.py`
 |      for an example on how to use the API.
 |
 |      Parameters
 |      ----------
 |      transform : {"default", "pandas", "polars"}, default=None
 |          Configure output of `transform` and `fit_transform`.
 |
 |          - `"default"`: Default output format of a transformer
 |          - `"pandas"`: DataFrame output
 |          - `"polars"`: Polars output
 |          - `None`: Transform configuration is unchanged
 |
 |          .. versionadded:: 1.4
 |              `"polars"` option was added.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __init_subclass__(auto_wrap_output_keys=('transform',), **kwargs)
 |      This method is called when a class is subclassed.
 |
 |      The default implementation does nothing. It may be
 |      overridden to extend subclasses.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |      Helper for pickle.
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __sklearn_clone__(self)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._metadata_requests._MetadataRequester:
 |
 |  get_metadata_routing(self)
 |      Get metadata routing of this object.
 |
 |      Please check :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      Returns
 |      -------
 |      routing : MetadataRequest
 |          A :class:`~sklearn.utils.metadata_routing.MetadataRequest` encapsulating
 |          routing information.

In [ ]:
#minmax kun belaa kun bealaa standard scaling use garne?
-> dherei jaso standard scaling use garenchha.
->

### Note: Scaling is done after train_test split

In [19]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
or # from sklearn.preprocessing import MinMaxScaler , StandardScaler 
yesto garnaa sakenchhaa

In [43]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [39]:
data = pd.read_csv('Diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [40]:
x = data[['Glucose','Age']]
y = data.Outcome

In [44]:
x

     Glucose  Age
0        148   50
1         85   31
2        183   32
3         89   21
4        137   33
..       ...  ...
763      101   63
764      122   27
765      121   30
766      126   47
767       93   23

[768 rows x 2 columns]

In [45]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [41]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2, random_state =9)

In [47]:
xtrain.head()

     Glucose  Age
476      105   29
448      104   22
518       76   41
221      158   66
453      119   72

In [ ]:
Gulcose : standardScaler: x - mean/std
Age: StandardScaler : x - mean/std

In [ ]:
target lai scaling garnu pardennaa. independent variable(predictor) lai matraa ho scaling garnu parnee

In [49]:
xtrain_s = scaler.fit_transform(xtrain) 

xtest_s = scaler.transform(xtest) #xtest ma fit gardenaa kinaki xtrain le store gareraa rakhechhaa fit lai

In [50]:
xtrain_s

array([[-0.51338073, -0.36368189],
       [-0.54513091, -0.95264373],
       [-1.4341359 ,  0.645967  ],
       ...,
       [-0.76738216, -0.11126967],
       [-0.7038818 , -0.61609411],
       [-0.38638002, -1.03678114]], shape=(614, 2))

fit ma 2 opearation chha that is 
.fit()           -> fit le mean ra std calucalte gareraa rakhcaa
.transform()     -> tyo mean ra std lagayeraa opearation garchhaa

In [ ]:
first ma train test split then balla data scaling garenchha

In [ ]:
scaler = StandardScaler()
xnew = scaler.fit_transfrom(x)

In [ ]:
fit ma 2 opearation chha that is 
.fit()           -> fit le mean ra std calucalte gareraa rakhcaa
.transform()     -> tyo mean ra std lagayeraa opearation garchhaa

In [ ]:
train-split ma k vanchhaa vandaa mean ra standard deviation nekaldaa tyo mean ra standard
deviation chia training data bata matraa leney vanchhha.